# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Set up Python "3.10"
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install black flake8 mypy pytest
          # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install -e .[drawing,matplotlib]
      - name: Run linters
        uses: wearerequired/lint-action@548d8a7c4b04d3553d32ed5b6e91eb171e10e7bb
        with:
          black: true
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Run mypy
        uses: sasanquaneuf/mypy-github-action@a3f3a66f97792cac0cfd11d3e5c87088e5c8f6a9
        with:
          checkName: "lint" # NOTE: this needs to be the same as the job name
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  ruff:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1
      - run: ruff check --fix
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest pytest-cov
          # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Install DyAda module
        run: pip install -e .[drawing,matplotlib]
      - name: Test with pytest
        run: |
          pytest test/ --doctest-modules --junitxml=junit/test-results.xml

  coverage:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Set up Python "3.10"
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y freeglut3-dev libgl1-mesa-dev libglu1-mesa-dev xvfb # all for OpenGL rendering, xvfb for OpenGL context
          python -m pip install --upgrade pip
          python -m pip install pytest pytest-cov
          # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Install DyAda module
        run: pip install -e .[drawing,matplotlib,opengl]
      - name: Test with pytest, to create cov report
        run: |
          xvfb-run -a pytest test/ --cov=dyada --cov-report=xml --cov-report=html
      - name: Get coverage, fail if under 90%
        run: |
          coverage report --precision=1 --fail-under=90 --show-missing --skip-empty
      - name: Coverage Badge
        uses: tj-actions/coverage-badge-py@1788babcb24544eb5bbb6e0d374df5d1e54e670f

      - name: Verify changed files (badge)
        uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf
        id: verify-changed-files
        with:
          files: coverage.svg

      - name: Commit badge file
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add coverage.svg
          git commit -m "Updated coverage.svg"

      - name: Push changes
        if: |
          steps.verify-changed-files.outputs.files_changed == 'true' &&
          github.event_name != 'pull_request'
        uses: ad-m/github-push-action@d91a481090679876dfc4178fef17f286781251df
        with:
          github_token: ${{ secrets.github_token }}
          branch: ${{ github.ref }}
